{
  "env": {
    "test": {
      "sourceMaps": "inline",
      "retainLines": true,
      "presets": [
        [
          "es2015"
        ]
      ],
      "plugins": [
        "transform-object-rest-spread",
        ["transform-react-jsx", { "pragma": "h" }],
        [
          "istanbul",
          {
            "exclude": [
              "**/test/**",
              "**/dist/**"
            ]
          }
        ]
      ]
    }
  }
}
