{
  "env": {
    "test": {
      "sourceMaps": "inline",
      "retainLines": true,
      "presets": ["env"],
      "plugins": [
        "transform-object-rest-spread",
        ["transform-runtime", {
          "polyfill": false,
          "regenerator": true
        }],
        ["istanbul", {
          "exclude": [
            "**/test/**",
            "**/dist/**"
          ]
        }]
      ]
    }
  }
}
