*.rej
*.tmp
*.log
.DS_Store
junit.xml
stats.json
.idea/
.vscode/
node_modules/
dist/
reports/
**/test/integration/artifacts/diff/
**/test/integration/artifacts/regression/
**/test/integration/artifacts/screenshots/
**/test/integration/artifacts/*.html
**/test/integration/artifacts/*.json
