*.rej
*.tmp
*.log
.DS_Store
stats.json
.idea/
.vscode/
node_modules/
dist/
coverage/
test/unit/coverage/
test/component/coverage/
**/test/integration/artifacts/diff/
**/test/integration/artifacts/regression/
**/test/integration/artifacts/screenshots/
**/test/integration/artifacts/*.html
**/test/integration/artifacts/*.json
