# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript
# https://github.com/Microsoft/azure-pipelines-image-generation/tree/master/images

trigger:
  - master

pr:
  - master

pool:
  # https://github.com/Microsoft/azure-pipelines-image-generation/blob/master/images/win/Vs2017-Server2016-Readme.md
  vmImage: 'vs2017-win2016'

steps:
  - bash: |
      yarn install --frozen-lockfile --ignore-optional
      yarn run build
    displayName: 'yarn install and build'

  - bash: npx webdriver-manager update --versions.standalone 3.141.59
    displayName: 'Update webdriver manager'

  - bash: echo "##vso[task.prependpath]$(Build.SourcesDirectory)\node_modules\iedriver\lib\iedriver"
    displayName: 'Add IE driver executable to PATH'

  - script: yarn run test:ptor
    displayName: 'Protractor tests'

  - task: PublishPipelineArtifact@0
    condition: always()
    inputs:
      targetPath: test/protractor
      artifactName: snapshots
