version: 2

aliases:
  - &restore_yarn_cache
    keys:
      - v1-yarn-deps-{{ checksum "yarn.lock" }}
  - &save_yarn_cache
    paths:
      - ~/.cache/yarn
    key: v1-yarn-deps-{{ checksum "yarn.lock" }}
  - &filter_master
    branches:
      only: master

defaults: &defaults
  working_directory: ~/picassojs
    # Available images https://hub.docker.com/r/circleci/node/tags/
  docker:
    - image: circleci/node:10.9.0-browsers

jobs:
  install:
    <<: *defaults
    steps:
      - checkout
      - restore_cache: *restore_yarn_cache
      - run: yarn install --frozen-lockfile
      - save_cache: *save_yarn_cache
      - store_artifacts:
          path: package.json
      - persist_to_workspace:
          root: ~/picassojs
          paths:
            - .

  build:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/picassojs
      - run: yarn run build
      - store_artifacts:
          path: packages/picasso.js/dist
      - store_artifacts:
          path: plugins/q/dist
      - store_artifacts:
          path: plugins/hammer/dist
      - persist_to_workspace:
          root: ~/picassojs
          paths:
            - packages/*/dist
            - plugins/*/dist
            - docs/dist
            - docs/spec.json

  lint:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/picassojs
      - run: yarn run lint

  test-unit:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/picassojs
      - run:
          command: |
            npx aw -c aw.config.js --mocha.bail false --mocha.reporter mocha-junit-reporter --mocha.reporterOptions.mochaFile ./coverage/junit/junit.xml
            if [ ! -z "$COVERALLS_REPO_TOKEN" ]; then
              echo "Uploading coverage results to coveralls.io..."
              cat ./coverage/unit/lcov.info | npx coveralls
            fi
      - store_test_results:
          path: coverage/junit

  test-component:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/picassojs
      - run: yarn run test:component

  test-integration:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/picassojs
      - run: yarn run test:integration:ci

  build-docs:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/picassojs
      - run:
          name: Build docs
          command: |
            set -eo pipefail
            NUM=$(git tag --points-at HEAD | wc -l)
            if [ "$NUM" -gt 0 ]; then
              yarn run build:website
            else
              mkdir website/build
              echo "Skipping build..."
            fi
      - persist_to_workspace:
          root: ~/picassojs
          paths:
            - website/build/

  deploy-docs:
    docker:
      - image: cibuilds/aws:1.16.28
    working_directory: ~/picassojs
    steps:
      - attach_workspace:
          at: ~/picassojs
      - run:
          name: Build and deploy
          command: |
            set -eo pipefail
            NUM=$(git tag --points-at HEAD | wc -l)
            if [ "$NUM" -gt 0 ]; then
              aws s3 sync website/build/picasso.js/ s3://picassojs.com/ --delete
            else
              echo "Skipping deploy..."
            fi

workflows:
  version: 2
  build-all:
    jobs:
      - install
      - build:
          requires:
            - install
      - lint:
          requires:
            - install
      - test-unit:
          requires:
            - install
      - test-component:
          requires:
            - install
      - test-integration:
          requires:
            - build
      - build-docs:
          requires:
            - build
          filters: *filter_master
      - deploy-docs:
          requires:
            - build-docs
          filters: *filter_master
