version: 2

defaults: &defaults
  working_directory: ~/picassojs
    # Available images https://hub.docker.com/r/circleci/node/tags/
  docker:
    - image: circleci/node:8.9.4-browsers
  branches:
      ignore: gh-pages

attach_root: &attach_root
  attach_workspace:
    at: ~/picassojs

jobs:
  install:
    <<: *defaults
    steps:
      - checkout
      
      # Restore caches
      - restore_cache:
          key: v1-cache-{{ checksum "package-lock.json" }}
      - restore_cache:
          key: v1-cache-picasso.js-{{ checksum "packages/picasso.js/package-lock.json" }}
      - restore_cache:
          key: v1-cache-hammer-{{ checksum "plugins/hammer/package-lock.json" }}
      - restore_cache:
          key: v1-cache-q-{{ checksum "plugins/q/package-lock.json" }}
      - restore_cache:
          key: v1-cache-docs-{{ checksum "docs/package-lock.json" }}
      - restore_cache:
          key: v1-cache-site-{{ checksum "website/package-lock.json" }}
      
      - run: npm install
      - run: npm run bootstrap
      - run:
          name: docs
          command: |
            cd ./docs
            npm install
      - run:
          name: website
          command: |
            cd ./website
            npm install

    ## Save to cache
      - save_cache:
          key: v1-cache-{{ checksum "package-lock.json" }}
          paths:
            - ./node_modules
      - save_cache:
          key: v1-cache-picasso.js-{{ checksum "packages/picasso.js/package-lock.json" }}
          paths:
            - ./packages/picasso.js/node_modules
      - save_cache:
          key: v1-cache-hammer-{{ checksum "plugins/hammer/package-lock.json" }}
          paths:
            - ./plugins/hammer/node_modules
      - save_cache:
          key: v1-cache-q-{{ checksum "plugins/q/package-lock.json" }}
          paths:
            - ./plugins/q/node_modules
      - save_cache:
          key: v1-cache-docs-{{ checksum "docs/package-lock.json" }}
          paths:
            - ./docs/node_modules
      - save_cache:
          key: v1-cache-site-{{ checksum "website/package-lock.json" }}
          paths:
            - ./website/node_modules
          
      - store_artifacts:
          path: package.json

      - persist_to_workspace:
          root: ~/picassojs
          paths:
            - .

  build:
    <<: *defaults
    steps:
      <<: *attach_root
      - run: npm run build
      - store_artifacts:
          path: packages/picasso.js/dist
      - store_artifacts:
          path: plugins/q/dist
      - store_artifacts:
          path: plugins/hammer/dist

  build-dev:
    <<: *defaults
    steps:
      <<: *attach_root
      - run: npm run build:dev
      - store_artifacts:
          path: packages/picasso.js/dist
      - store_artifacts:
          path: plugins/q/dist
      - store_artifacts:
          path: plugins/hammer/dist

  docs-website:
    <<: *defaults
    steps:
      <<: *attach_root
      - run: npm run docs
      - run:
          name: website
          command: |
            cd ./website
            npm build
      - store_artifacts:
          path: docs/spec.json
      - store_artifacts:
          path: website/build

  lint:
    <<: *defaults
    steps:
      <<: *attach_root
      - run: npm run lint
    
  test-unit:
    <<: *defaults
    steps:
      <<: *attach_root
      - run: npm run test:unit:coverage
      - run: 
          name: Publish coverage
          command: npm run test:unit:coverage:publish || echo "Unable to publish code coverage"
      - store_artifacts:
          path: coverage

  test-component:
    <<: *defaults
    steps:
      <<: *attach_root
      - run: npm run test:component:coverage

  test-integration:
    <<: *defaults
    steps:
      <<: *attach_root
      - run: npm run test:integration:local


workflows:
  version: 2
  build-all:
    jobs:
      - install
      - build:
          requires:
            - install
      - build-dev:
          requires:
            - install
      - docs-website:
          requires:
            - install
      - lint:
          requires:
            - install
      - test-unit:
          requires:
            - install
      - test-component:
          requires:
            - install
      - test-integration:
          requires:
            - install
