version: 2.1
orbs:
  browser-tools: circleci/browser-tools@1.2.3

aliases:
  - &restore_yarn_cache
    keys:
      - v1-yarn-deps-{{ checksum "yarn.lock" }}
  - &save_yarn_cache
    paths:
      - ~/.cache/yarn
    key: v1-yarn-deps-{{ checksum "yarn.lock" }}
  - &filter_master
    branches:
      only: master

defaults: &defaults
  working_directory: ~/picassojs
  # Available images https://hub.docker.com/r/circleci/node/tags/
  docker:
    - image: cimg/node:14.18-browsers

jobs:
  install:
    <<: *defaults
    steps:
      - checkout
      - restore_cache: *restore_yarn_cache
      - run: yarn install --frozen-lockfile
      - save_cache: *save_yarn_cache
      - store_artifacts:
          path: package.json
      - persist_to_workspace:
          root: ~/picassojs
          paths:
            - .

  build:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/picassojs
      - run: yarn run build
      - store_artifacts:
          path: packages/picasso.js/dist
      - store_artifacts:
          path: plugins/q/dist
      - store_artifacts:
          path: plugins/hammer/dist
      - store_artifacts:
          path: docs/scriptappy.json
      - persist_to_workspace:
          root: ~/picassojs
          paths:
            - packages/*/dist
            - plugins/*/dist
            - docs/scriptappy.json

  lint:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/picassojs
      - run: yarn run lint
  api-governance:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/picassojs
      - setup_remote_docker
      - run:
          name: Create version.txt
          command: |
            set -x
            if [ -n "${CIRCLE_TAG}" ]; then
              version=${CIRCLE_TAG#v}
            else
              version=$(git describe --tags --abbrev=7 --match "v*")
              version=${version#v}
            fi
            echo "$version" > ./version.txt
            echo "Building $version"
      - run:
          name: Prepare API Compliance
          command: |
            docker pull ghcr.io/qlik-download/api-compliance
            docker create -v /specs --name specs alpine:3.4 /bin/true
            cd ~/picassojs && docker cp ./docs/scriptappy.json specs:/specs
      - run:
          name: Run API Compliance
          command: >
            VER=v$(cat version.txt)

            docker run --volumes-from specs
            -e SPEC_PATHS="67d3d238-36cc-4579-8fcd-7762267171e9@/specs/scriptappy.json"
            -e COMMIT_SHA="$CIRCLE_SHA1"
            -e RELEASE_TAG="$VER"
            -e CREDENTIALS_S3_SECRETKEY="$APICULTURIST_S3"
            -e CREDENTIALS_GITHUB="$APICULTURIST_GITHUB"
            -e CREDENTIALS_COLONY="$APICULTURIST_TOKEN"
            ghcr.io/qlik-download/api-compliance

  test-unit:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/picassojs
      - run:
          command: |
            yarn run test:unit --coverage
            if [ ! -z "$COVERALLS_REPO_TOKEN" ]; then
              echo "Uploading coverage results to coveralls.io..."
              cat ./coverage/lcov.info | npx coveralls
            fi
      - store_test_results:
          path: coverage/lcov-report

  test-component:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/picassojs
      - run: yarn run test:component

  test-integration:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/picassojs
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - run: yarn run test:integration:ci

workflows:
  version: 2
  build-all:
    jobs:
      - install
      - build:
          requires:
            - install
      - lint:
          requires:
            - install
      - api-governance:
          context: api-compliance
          requires:
            - build
          filters:
            branches:
              # Forked pull requests have CIRCLE_BRANCH set to pull/XXX
              ignore: /pull\/[0-9]+/
            tags:
              only:
                - /v.*/
      - test-unit:
          requires:
            - install
      - test-component:
          requires:
            - install
      - test-integration:
          requires:
            - build
