/* your custom css */

body {
  color: #888;
  background: #fff;
}

a {
  color: #3f9a99;
}

code {
  color: #a60;
  font-size: 0.8em;
}

.tutorial-chart {
  height: 400px;
  position: relative;
  margin: 20px 0;
  box-shadow: 0 0 12px rgba(100, 100, 100, 0.1);
}

.homeContainer, .fixedHeaderContainer {
  background: linear-gradient(90deg, #9ecc4c 0%, #45B3B2 100%);
}

.navigationSlider .slidingNav ul li a:focus, .navigationSlider .slidingNav ul li a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.homeContainer .button {
  color: #e8ffe9;
  border: 0;
  background: rgba(71, 179, 141, 0.71);
  border-radius: 4px;
  padding: 1em 2em;
  box-shadow: 0 0px 8px rgba(0, 50, 0, 0.1);
  transition: all 0.1s ease-out;
  position: relative;
  top: 0;
}

.homeContainer .button.scream {
  background: linear-gradient(90deg, rgba(255, 107, 63, 0.85) 0%, rgba(255, 59, 114, 0.85) 100%)
}

.homeContainer .button:hover {
  box-shadow: 0 6px 18px rgba(0, 50, 0, 0.1);
  top: -1px;
}

.homeContainer::before {
  display: block;
  content: '';
  height: 500px;
  transform: skewY(-5deg);
  background: linear-gradient(90deg, #9ecc4c 0%, #45B3B2 100%);
  z-index: -1;
  position: absolute;
  width: 100%;
}

.homeContainer .homeWrapper {
  padding: 3em 10px 0 10px
}

.homeContainer .homeWrapper .logo {
  opacity: 0.8;
}

.projectTitle {
  color: #ffffff;
  opacity: 0.8;
}

.projectTitle > small {
  margin-bottom: 0;
}

.promoSection {
  top: 1em;
}

.container .wrapper h2 {
  font-variant: small-caps;
  font-weight: 200;
  color: #666;
}

.mainContainer {
  font-size: 16px;
  background: transparent;
}

.mainContainer > .container:first-child .wrapper {
  box-shadow: 0px -10px 12px -6px rgba(100, 100, 100, 0.2);
  background: #fff;
}

#footer {
  background: #5d5d5d;
  color: #fff;
}

#footer .qlikOpenSource {
  margin: 1em auto;
  width: 200px;
  display: block;
  opacity: 0.6;
}

#footer .qlikOpenSource:hover {
  opacity: 0.9;
}

nav.toc .toggleNav {
  background: transparent;
}

nav.toc .toggleNav ul li a {
  color: #aaa;
}

nav.toc .toggleNav .navGroup.navGroupActive h3 {
  background: none;
  color: #666;
}

nav.toc .toggleNav .navGroup, nav.toc .toggleNav .navGroup.navGroupActive {
  background: #fff;
}

.graphic {
  position: relative;
}

.components {
  position: relative;
  top: 120px;
  left: 0px;
  transition: all 0.2s ease-out;
}

.blockComposition {
  overflow: hidden;
  margin-right: 0 !important;
}

.blockComposition-inner {
  height: 310px;
  width: 500px;
}

.imageAlignSide .blockImage {
  align-self: flex-end;
  flex: 1 1 270px;
}

.imageAlignSide .blockContent {
  flex: 4 1;
}

.components .layer {
  position: absolute;
  transition: all 0.2s ease-out;
}

.components .c-grid {
  top: 0px;
  left: 90px;
  transform-origin: -90px 0;
}

.components .c-bars {
  top: 0px;
  left: 90px;
  transform-origin: -90px 0px;
  transform: perspective(1000px) rotateX(55deg) rotateZ(-15deg) translateZ(50px);
}

.components .c-labels {
  top: 0px;
  left: 90px;
  transform-origin: -90px 0px;
  transform: perspective(1000px) rotateX(55deg) rotateZ(-15deg) translateZ(100px);
}

.components .c-reference {
  top: 0;
  left: 90px;
  transform-origin: -90px 0px;
  transform: perspective(1000px) rotateX(55deg) rotateZ(-15deg) translateZ(150px);
  display: none;
}

.components .c-legend {
  top: 0px;
  left: 460px;
  transform-origin: -460px 0px;
  display: none;
}

.components .c-discrete {
  top: 270px;
  left: 100px;
  transform-origin: -100px -270px;
}

.components .c-continuous {
  top: 28px;
  left: 40px;
  transform-origin: -40px -28px;
}

.components .c-v-title {
  top: 90px;
  left: 10px;
  transform-origin: -10px -90px;
}

.components .c-h-title {
  top: 290px;
  left: 250px;
  transform-origin: -250px -290px;
}

.components.state-0 {
  top: 0;
  left: 0;
}

.components.state-1, .components.state-2 {
  top: 120px;
}

.components.state-2 {
  box-shadow: 0 0 0 rgba(100, 100, 100, 0);
  background: rgba(100, 100, 100, 0);
}

.components.state-0 .layer {
  transform: perspective(1000px) rotateX(0) rotateZ(0) translateZ(0) !important;
}

.components.state-1 .layer {
  transform: perspective(1000px) rotateX(55deg) rotateZ(-15deg);
}

.components.state-2 .layer {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 2px 8px rgba(100, 100, 100, 0.1);
  transform: perspective(1000px) rotateX(55deg) rotateZ(-15deg);
}

.components.state-1 .layer {
  transform: perspective(1000px) rotateX(55deg) rotateZ(-15deg) translateZ(0) !important;
}

.components.state-2 .c-bars {
  transform: perspective(1000px) rotateX(55deg) rotateZ(-15deg) translateZ(50px);
}

.components.state-2 .c-labels {
  transform: perspective(1000px) rotateX(55deg) rotateZ(-15deg) translateZ(100px);
}

.components.state-2 .c-reference {
  transform: perspective(1000px) rotateX(55deg) rotateZ(-15deg) translateZ(150px);
}

.barchart {
  position: absolute;
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 400px;
  width: 50%;
  bottom: -100px;
}

.barchart div {
  background: #fff;
  opacity: 0.2;
  flex: 1 0 auto;
  margin: 0 1%;
}

.scatter {
  position: absolute;
  height: 400px;
  width: 50%;
  right: 0;
  bottom: -100px;
  max-width: 400px;
}

.scatter div {
  position: absolute;
  border-radius: 50%;
  background: #fff;
  opacity: 0.2;
}

.scatter .mask {
  opacity: 1.0;
  box-shadow: 0px 0px 12px rgba(100, 100, 100, 0.2);
  display: none;
}

.footerIcons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
}

.footerIcons a img {
  opacity: 0.6;
}

.footerIcons a img:hover {
  opacity: 1;
}

footer .sitemap {
  max-width: 680px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
}

.cell {
  flex: 1 1 auto;
  flex-basis: 250px;
  margin: 20px 20px 20px 0;
}

.card {
  box-shadow: 0 0 12px rgba(200, 200, 200, 0.4);
  box-sizing: border-box;
  overflow: hidden;
  font-size: 0.8em;
  text-align: center;
  transition: all 0.1s ease-out;
  position: relative;
  top: 0;
}

.card:hover {
  box-shadow: 0 6px 24px rgba(200, 200, 200, 0.6);
  top: -2px;
}

.card a div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  padding-top: 50%;
}

.card h3 {
  font-weight: 400;
  font-size: 1.2em;
}

.card .info {
  padding: 10px;
  text-align: left;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
  .components {
    left: 0;
  }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
  .wrapper {
    max-width: 1200px;
  }
}

@media only screen and (min-width: 1138px) {
  .mainContainer > .container:first-child .wrapper {
    border-radius: 4px;
  }
}

@media (max-width: 375px) {
  .logo {
    display: block;
  }
}

.navSearchWrapper {
  max-width: 50%;
}

/* #### Search menu #### */
.navSearchWrapper .aa-dropdown-menu {
  border: 0px solid rgba(123, 123, 123, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(123, 123, 123, 0.5);
  background-color: #fff;
}

/* Main category headers */
.navSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion--category-header {
  background-color: rgba(123, 123, 123, 0.05);
  color: #888;
  font-weight: 600;
}

/* Highlighted search terms */
.navSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion--highlight {
  border-bottom: 2px solid #45B3B2;
  font-weight: normal;
  color: #888;
}

/* Highligted search terms, in the main category headers */
.navSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--highlight  {
  border-bottom: 2px solid #45B3B2;
  font-weight: bold;
  background-color: transparent;
  color: #888;
}

/* Right column cells */
.navSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion--content {
  color: #888;
  background-color: #fff;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* Currently selected suggestion */
.navSearchWrapper .aa-dropdown-menu .aa-cursor .algolia-docsearch-suggestion--content {
  background-color: rgba(123,123,123, 0.05);
  border: none;
}

/* Algolia footer */
.navSearchWrapper .aa-dropdown-menu .algolia-docsearch-footer {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #fff;
  height: 18px;
  border: none;
}

/* Bottom border of each suggestion */
.navSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion {
  background-color: #fff;
  border: none;
}

/* Left column, with secondary category header */
.navSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion--subcategory-column {
  background-color: #fff;
  color: #aaa;
  font-weight: 600;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
}
/* Left column, with secondary category header - highlight */
.navSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion--subcategory-column .algolia-docsearch-suggestion--highlight {
  color: #aaa;
  font-weight: 600;
}

/* Right column, with secondary category title - highlight */
.navSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion--title .algolia-docsearch-suggestion--highlight {
  font-weight: 600;
  color: #888;
}

/* Right column, with secondary category title */
.navSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion--title {
  font-weight: 600;
  color: #888;
}
