html,
body {
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
  background: #232523;
  display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.Resizer.vertical {
  min-width: 5px;
  background-color: black;
}

.Resizer.vertical:hover {
  cursor: ew-resize;
}
